.add-remove {
    width: 32px;
    height: 32px;
    padding: 3px 6px 3px 6px;
    margin: 6px;
    border-radius: 50%;
    
}
.add {
    border-bottom: 2px solid #075826;
}
.remove {
    border-bottom: 2px solid #630c0c;
}
.item-counter {
    width: 32px;
    display: inline;
}
.item-name {
    display: inline-block;
}
.remaining button {
    margin-top: 4px;
}
.badge {
    border-radius: 50%;
}
.teni{
    border-bottom: 2px solid #272928;
}
.width{
    width: 126px;
}
